@font-face {
    font-family: 'Gotham Book';
    src: url('../assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Light.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Black.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Medium.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('../assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
  overflow: hidden;
  font-family: 'Gotham Book', 'sans-serif';
  margin: 0;
  color: #221f20;
}

h1, h2, h3, h4, a, button {
  font-family: 'Gotham Book', 'sans-serif';
  text-decoration: none;
  line-height: 1.1;
}

header {
  width: 100%;
  text-align: center;
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  background-color: white;
}

header img {
  width: 250px;
}

main.content {
  padding-top: 194px;
}

.home, .background {
  padding: 100px;
  height: 1920px;
  width: 1080px;
  box-sizing: border-box;
  background-image: url('../assets/img/back.jpg');
  background-position: left;
  background-size: cover;
  -webkit-animation: move_back 40s linear infinite;
}

@-webkit-keyframes move_back {
    0%, 100% { background-position: left; }
    50% { background-position: right;  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards .card {
  background-color: white;
  padding: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.cards .card.hidden {
  display: none;
}

.home .cards .card:nth-child(1) {
  -webkit-animation: expand 15s infinite;
}

.home .cards .card:nth-child(2) {
  -webkit-animation: expand 15s infinite;
  animation-delay: 3s;
}

.home .cards .card:nth-child(3) {
  -webkit-animation: expand 15s infinite;
  animation-delay: 6s;
}

.home .cards .card:nth-child(4) {
  -webkit-animation: expand 15s infinite;
  animation-delay: 9s;
}

.home .cards .card:nth-child(5) {
  -webkit-animation: expand 15s infinite;
  animation-delay: 12s;
}


@-webkit-keyframes expand {
    0%, 20% { transform: scale(1); }
    5%, 15% { transform: scale(1.1);  }
}

.cards .card img.img {
  position: absolute;
  right: 131px;
  bottom: -86px;
}

.cards .card.awardees img.img {
  height: 300px;
  right: 100px;
  bottom: -50px;
}

.cards .card p {
  font-family: 'Gotham';
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.cards .card.full {
  width: 100%;
}

.cards .card.full p{
  font-size: 50px;
  margin-top: 175px;
}

.cards .card.half {
  width: 47%;
  text-align: center;
  padding: 75px 50px;
}

.cards .card.sideways {
  font-size: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card.sideways p {
  font-size: 34px;
  margin-top: 0;
  margin-left: 40px;
}

.cards .card.sideways img {
  height: 80px;
}

.cards .card.half p {
  font-size: 34px;
  line-height: 1.2;
}

.cards .card.half img {
  height: 75px;
  margin-bottom: 35px;
}

.cards .card .arr {
  height: 24px;
  margin-left: 20px;
}

.white {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}

.white > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.white div .load_logo {
  width: 600px;
}

.white div .loader {
  width: 80px;
  margin-top: 100px;
  -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes move_spinback {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);  }
}



/*==========================================  AGENDA  =======================================*/
.agenda img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 525px;
}

.agenda img#agenda2 {
  display: none;
}

.agenda .cards .card {
  padding: 50px;
  opacity: .3;
  transition: opacity .3s;
}

.agenda .cards .card.open {
  opacity: 1;
}

.home_btn {
  position: absolute;
  top: 77px;
  right: 50px;
}

.home_btn img {
  height: 42px;
}

.card.enlarge {
  -webkit-animation: enlarge .3s linear;
}

@-webkit-keyframes enlarge {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(.95);  }
}


/*==========================================  SPONSORS  =======================================*/
.logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-bottom: 100px;
}

.all_logos {
  overflow-y: auto;
}

.logos .card {
  width: 30%;
  display: flex;
  align-items: center;
}

.logos .card.hidden {
  display: none !important;
}

.all_logos .logos .card {
  width: 47%;
  display: flex;
  align-items: center;
}

.logos .card img {
  width: 100%;
  margin: auto;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.popup .offclick {
  background-color: rgba(0, 0, 0, 0.60);
  position: absolute;
  height: 100%;
  width: 100%;
}

.popup > div.holder {
  background-color: white;
  padding: 100px;
  text-align: left;
  min-height: 500px;
  width: 682px;
  position: relative;
  z-index: 5;
}  


.popup > div.holder img {
  width: 200px;
  margin-bottom: 50px;
}

.popup p {
  font-size: 29px;
  line-height: 1.5;
}

.popup .close {
  position: absolute;
  margin: 0;
  font-size: 40px;
  right: 10px;
  padding: 50px;
  top: 0;
}



/*==========================================  FLOORPLAN  =======================================*/
.floorplan img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 196px;
}



/*==========================================  SPEAKERS  =======================================*/
.speakers .card, .speakers .cards .card.half {
  padding: 0;
}

.speakers .card .pic {
  background-size: cover;
  background-position: center center;
  height: 280px;
  width: 100%;
}

.speakers .card.half .pic {
  height: 300px;
}

.speakers .card {
  flex-direction: column;
  text-align: left;
}

.speakers .cards .card p {
  padding: 30px;
  font-size: 26px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

.speakers .cards .card p span {
  opacity: .5;
  display: block;
  margin-top: 10px;
  font-size: 17px;
}

.speaker .popup p {
  font-size: 25px;
}



/*==========================================  AWARDEES  =======================================*/
.awardees .cards .card {
  padding: 0;
}

